/* src/components/HeroCarousel.css */

.hero-carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #f9fafb;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    transition: opacity 0.6s ease-in-out;
    display: block;
    border-radius: 0;
  }
  
  .dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  
  .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 6px;
    background-color: rgba(255, 234, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: red;
    box-shadow: 0 0 0 2px #333;
  }
  
/* Hero Header CSS */
.hero-header {
    position: static;
    top: 0px;
    left: 0;
    right: 0;
    padding: 20px 10px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .search-bar input {
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    width: 200px;
  }
  
  .search-bar button {
    padding: 8px 16px;
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .search-bar button:hover {
    background-color: #ddd;
  }